@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

* {
  box-sizing: "boreder-box";
}

body {
  background-color: #ddcdb9ff;
  font-family: "sens-serif";
  font-size: 1rem;
  padding: 20px;
}

h1 {
  color: #790606ff;
  font-family: sens-serif;
  font-size: 2rem;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.flashcards {
  font-size: 1.7rem;
  transition: none;
}

.flashcards div {
  background-color: #a10303ff;
  color: #ffffff;
  boreder-redius: 50px;
  aspect-retio: 2/1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  cursor: pointer;
}

div.selected {
  background-color: #69e007ff;
  color: #000000;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 50px;
}

.languages {
  background-color: #ccb395ff;
  color: #000000ff;
  border-redius: 100px;
}

. label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

select {
  margin-left: 8px;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 4px;
}













